.gray_bg
  .post_1.gray_lt_bg
    = form_for @user, remote: true, html: { class: "autoupdate form_1" } do |f|
      %p
        = f.label :name
        = f.text_field :name
      %p
        = f.label :email
        = f.text_field :email
  
      %h4.block="Photo"
      - if @user.asset_url
        %p.text_small="Current photo:"
        = image_tag @user.asset_url, class: "avatar medium"
        
      -# will implement this later when I figure out:
        - # a) getting multiple assets on post to work
        - # b) how this area should look / interact
        .file-drop
          %span{ 'data-placeholder' => 'Drop files here' } Drop files here
      %div
        %p.text_small="Choose new photo:"
        %input.standard-attachment{ name: 'standard_attachment', accept: 'image/*', type: "file", multiple: "multiple" }