- cache @user, expires: 1.week do
  .gray_bg
    .post_1.gray_lt_bg
      - if current_user.id == @user.id
        %h2="Me"
        %span.text_smaller="(#{@user.name})"
        = link_to "Edit", edit_user_path(@user)
      - else
        %h2= @user.name || "(no name)"
      .clr
      - if @user.asset_url
        = image_tag @user.asset_url
      .clr
      .col1
        %h3.block="Recent Posts"
        - @user.recent_posts.each do |post|
          = link_to post[:title], bb_path(resource: post), class: "block"
      .col1
        %h3.block="Liked Posts"
        - @user.recent_likes.each do |like|
          = link_to like[:post_title], bb_path(id: like[:post_id]), class: "block"