- is_current_user = current_user && ( current_user.id == @user.id )

  - if is_current_user
    %h2="Me"
    %span.text_smaller="(#{@user.name})"
    = link_to "Edit", edit_user_path(@user), class: "vanilla"
  - else
    %h2= @user.name || "(no name)"
  .clr
  = render partial: "avatar"
  .clr
  .col1
    %h3.block="Recent Posts"
    - recent_posts = @user.recent_posts
    - max_post_updated = recent_posts.map{|u| u.updated_at.to_i}.max
    - posts_count = recent_posts.count
    - recent_posts.each do |post|
      = link_to post[:title], bb_path(resource: post), class: "block vanilla"
  .col1
    %h3.block="Liked Posts"
    - recent_liked_posts = @user.recent_liked_posts
    - posts_count = recent_liked_posts.count
    - recent_liked_posts.each do |post|
      = link_to post.title, bb_path(id: post.id), class: "block vanilla"