%div
  .text_logo.md_block.float_left="Once"
  .fm0.sm_margin_0
    = link_to "NEW POST", "/posts#/new", class: "h2"
    = link_to "MY POSTS", current_user, class: "h2"
    = link_to "ALL POSTS", posts_path, class: "h2"
    .b0.float_right
      - if current_user.present?
        = link_to "Sign out", destroy_user_session_path, :class => ''
        = link_to "Me", current_user, :class => ''
      - else
        = link_to "Sign in", new_user_session_path, :class => ''
        = link_to "Register", new_user_registration_path, :class => ""
.clr