.gray_lt_bg
  .logo_main="Once"
  .buttons_main
    = link_to "NEW POST", "/posts#/new", class: "h2"
    = link_to "MY POSTS", "/posts#/user/#{current_user.id}", class: "h2" if current_user
    = link_to "ALL POSTS", "/posts#/index", class: "h2"
    .b0.float_right
      - if current_user.present?
        %p
          = link_to "Sign out", destroy_user_session_path, :class => ''
          = link_to "Me", current_user, :class => ''
      - else
        = link_to "Sign in", new_user_session_path, :class => ''
        = link_to "Register", new_user_registration_path, :class => ""
