<td><a href="#/<%= _id %>"><%= title %></a></td>
<td><span class="m2i" ><%= content %></span></td>

<td><a href="#/<%= _id %>/edit" class="m2i">Edit</td>
<td><a href="#/<%= _id %>/destroy" class="destroy m2i">Delete</a></td>