#posts
#post_pane.pane_1.white_bg

:javascript
  posts_json = #{ @posts.to_json.html_safe };

  $(function() {
    init = new Once.Initializer();
    const_options = {
      collection_types: #{Collection::TYPES},
      connection_types: #{Connection::TYPES},
      post_types: #{Post::TYPES}
    }
    init.set_constants(const_options);
    
    current_user_json = #{current_user.to_json};
    if(current_user_json) {
      current_user_json.liked_post_ids = #{current_user ? current_user.liked_post_ids : [] };
      current_user_json.recent_posts = #{current_user ? current_user.recent_posts.to_json : []}
      init.set_current_user(current_user_json);
    }
    
    window.router = new Once.Routers.PostsRouter({posts: posts_json});
    Backbone.history.start();
  });