!!!
%html
  %head
    %title="Once"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "shared/global_fields"
    = render :partial => "shared/header"
    .b1.fm0.cont_main.sm_full.sm_margin_0
      = yield