!!!
%html
  %head
    %title="Once"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .section_body
      .float_left.text_logo="Once"
      .float_left
        = render :partial => "shared/nav"
        = render :partial => "shared/global_fields"
        = yield
      .clr
