!!!
%html
  %head
    %title="Once"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "shared/global_fields"
    
    = render :partial => "shared/header"
    .col1.sm_hide
    .b1.col10.c_main.sm_full
      = yield
    .col1.sm_hide
