!!!
%html
  %head
    %title="Once"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render :partial => "shared/global_fields"
    = render :partial => "shared/header"
    #content_div.gray_bg
      - style = devise_controller? ? "margin-left: 8em; padding-left: 1em;" : ""
      .post_1.gray_lt_bg{style: style}
        = yield